<?xml version="1.0"?>
<launch>
  <!-- Load Kondo B3M parameters -->
  <rosparam file="$(find kondo_driver)/config/hir_driver.yaml" command="load" ns="kondo_driver"/>
  <!-- Start B3M driver -->
  <node name="kondo_driver" pkg="kondo_driver" type="kondo_driver" args="fake:=true shoulder_pitch_driver elbow_pitch_driver wrist_pitch_driver wrist_yaw_driver" output="screen">
  </node>


  <!-- Load URDF model -->
  <arg name="model" default="$(find hir_description)/robots/manipulator_only.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find kondo_driver)/config/hir_controller.yaml" command="load"/>
  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--shutdown-timeout 0.1 joint_state_controller manipulator/left_arm_controller"/>
  
  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

</launch>
